################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MTG/.vs/MTG
/MTG UIM/.vs/MTG UIM

/build
